* {
  font-family: Quicksand, sans-serif;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}


html,
body {
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: var(--primary-blue);
}

.section-container {
  padding: 4rem 0;
  border-bottom: 1px solid lighten(var(--primary-blue), 40%);
}

.main-section-heading {
  color: var(--primary-red);
  margin: 1rem 0 3rem 0;
}

.custom-blue-text {
    color: rgba(var(--primary-blue), 0.8); /* Darken by reducing opacity */
  }
  
/* brand colors */
:root {
  --primary-red: #eb4b6a;
  --primary-pink: #d25aa2;
  --primary-green: #36ba96;
  --primary-blue: #4e88c6;
  --primary-purple: #8a73b3;
  --primary-yellow: #e8c727;
  --primary-orange: #ea7e27;
}

/* MIXINS */
/* buttons */
.btn-custom-primary-large {
  box-shadow: 0 0.3125rem 0.875rem 0.0625rem rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-box-shadow: 0 0.3125rem 0.875rem 0.0625rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1.5rem 0.5rem;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  background-color: var(--primary-red);
  border: 1px solid transparent;
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
}

.btn-custom-primary-normal {
  box-shadow: 0 0.3125rem 0.875rem 0.0625rem rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-box-shadow: 0 0.3125rem 0.875rem 0.0625rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1.5rem 0.5rem;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  background-color: var(--primary-red);
  border: 1px solid transparent;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
}

.btn-custom-primary-small {
  box-shadow: 0 0.3125rem 0.875rem 0.0625rem rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-box-shadow: 0 0.3125rem 0.875rem 0.0625rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1.5rem 0.5rem;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  background-color: var(--primary-red);
  border: 1px solid transparent;
  color: white;
  font-size: 0.6rem;
  font-weight: 300;
  padding: 0.3rem 1rem;
}

.btn-custom-primary-large:hover {
  background-color: darken(var(--primary-red), 10);
  color: whitesmoke;
  text-decoration: none;
}

.btn-custom-primary-normal:hover {
  background-color: darken(var(--primary-red), 10);
  color: whitesmoke;
  text-decoration: none;
}

.btn-custom-primary-small:hover {
  background-color: darken(var(--primary-red), 10);
  color: whitesmoke;
  text-decoration: none;
}

.container {
  margin: 0px;
  padding: 0px;
  /* --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x)); */
}
